.idea

.git

.env


mucp_algorithms.egg-info


before_mucp_algorithms_algorithms.PNG
before_mucp_algorithms.PNG
before.PNG


mucp_algorithms\__pycache__
mucp_algorithms\algorithms\__pycache__
mucp_algorithms/__pycache__/
mucp_algorithms/algorithms/__pycache__/
